<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<meta name="description" content="mastodon post graph">
<!-- <meta name="author" content="some author"> -->
<meta property="og:title" content="Mastodon Post Graph">
<meta property="og:description" content="Visualisierung der Antworten auf ein Mastoton-Post als Baum-Struktur">
<meta property="og:url" content="{{context.target_url}}">
<meta property="og:image" content="{{context.preview_img_url}}">
<meta property="og:type" content="website">


  <title>Mastodon Antwort-Graph</title>
  <style>
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
    }
    .svg_container {
      font-size: 24px;
      border:1px solid black;
      padding: 5px;
      width: 98vw;
      /* width: 100%;
      border: 2px blue solid;
      */
    }
    #js_warning {
      color:hsl(0, 80%, 50%);
    }
  </style>

<!-- source: https://github.com/bumbu/svg-pan-zoom -->
<script src="svg-pan-zoom.js"></script>

</head>
<body>
  <h1>Mastodon Antwort-Graph</h1>
  <p id="js_warning">This pages needs javascript to be activated.</p>
  <p>Erstellt mittels <a href="https://codeberg.org/cknoll/fedivis">fedivis</a> ({{context.time_str}}).</p>
  <p>Mouseover zeigt die Nachrichten-Inhalte an. Link führt zur jeweiligen Nachricht. Auf kleinen Displays wird ggf. nicht alles dargestellt.</p>
  <hr>
  <div class="controls">
    <button id="zoom-in1">Zoom in</button>
    <button id="zoom-out1">Zoom out</button>
    <button id="reset1">Reset</button>
  </div>
  <object id="main-svg-object" type="image/svg+xml" style="width:100%;" data="{{context.svg_fpath}}">SVG cannot be shown</object>
  <div class="controls">
    <button id="zoom-in2">Zoom in</button>
    <button id="zoom-out2">Zoom out</button>
    <button id="reset2">Reset</button>
  </div>
  <hr>
  <br>
  <p>Aus technischen Gründen ist der Graph ggf. unvollständig.</p>
  <p>Diese Visualisierung ist aktuell ein experimentelles freiwilliges Projekt. <a href="https://codeberg.org/cknoll/fedivis#feedback">Verbesserungsvorschläge willkommen.</a></p>


  <script>
    var foo = 0;
    window.onload = function() {
      document.getElementById('js_warning').remove();

      var panZoom = svgPanZoom('#main-svg-object', {
        zoomEnabled: false,
        controlIconsEnabled: false
      });
      var initialZoom = 0.99;

      panZoom.zoomBy(initialZoom);
      panZoom.fit();

      function FuncZoomIn(ev){
        // ev.preventDefault();
        panZoom.zoomIn();
      }

      function FuncZoomOut(ev){
          // ev.preventDefault();
          panZoom.zoomOut();
        }

        function FuncZoomReset(ev){
          // ev.preventDefault();
          panZoom.resetZoom();
          panZoom.fit();
          panZoom.zoomBy(initialZoom);
          panZoom.center();
      }

      document.getElementById('zoom-in1').addEventListener('click', FuncZoomIn);
      document.getElementById('zoom-in2').addEventListener('click', FuncZoomIn);
      document.getElementById('zoom-out1').addEventListener('click', FuncZoomOut);
      document.getElementById('zoom-out2').addEventListener('click', FuncZoomOut);
      document.getElementById('reset1').addEventListener('click', FuncZoomReset);
      document.getElementById('reset2').addEventListener('click', FuncZoomReset);
    };
  </script>

</body>
</html>
